* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'hua';
  src: url('includes/fonts/BAHNSCHRIFT 1.TTF');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

#achtergrond {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  font-size: 52px;
  font-family: 'hua';
  font-weight: 100;
  color: white;
  font-size: 3.25rem;
}

#titelbox {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #287464;
  flex: 1;
  text-align: center;
  margin-right: 80px;
  justify-content: center;
}

.hamburger_box {
  width: 80px;
  display: flex;
  justify-content: flex-start;
}

#topbar {
  display: flex;
  position: fixed;
  align-items: center;

  padding-bottom: 50px;
  top: 0;
  left: 0;
  width: 100%;
}

.topbarfix {
  display: flex;
}

/* sidebar begin */
#mySidebar {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 999;
}

#sidebar {
  width: 435px;
  background-color: #287464;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
  border-radius: 0 16px 16px 0;
  padding-bottom: 20px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebar p {
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
}

#sidebar_box {
  display: flex;
  flex-direction: row-reverse;
}

#sidebarbox {
  display: flex;
  align-items: center;
  padding: 25px 35px 10px 35px;
}

#imgsidebar {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-right: 20px;
}

#sidebarbox h2 {
  font-size: 36px;
  line-height: 1.1;
}

.hamburger_menu {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
  border-radius: 0 0 15px 0;
  margin-top: -25px;

}

.close_button {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
}

h2,
sidebar {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  color: white;
  font-family: 'hua';
  font-weight: 100;
}

#lightmode {
  margin-top: 40px;
}

#hotspot,
#lightmode,
.dropdown-btn {
  font-size: 28px;
  color: white;
  font-family: 'hua';
  margin-left: 35px;
}

#hotspot {
  margin-bottom: 20px;
}

#sidebar p {
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
  align-items: baseline;
  margin-bottom: 20px;
}

.dark-mode {
  background-color: rgb(69, 69, 69);
  color: rgb(255, 255, 255);
}

/* Switch (toggle) */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: #d42c1c;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #d42c1c;
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Sidenav links en dropdown */
.sidenav a,
.dropdown-btn {
  /* margin-top: 15px; */
  border: none;
  background: none;
  cursor: pointer;
}

.sidenav a,
.dropdown-btn {
  font-size: 28px;
  font-family: 'hua';
  color: white;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #236456;
  color: white;
  border-radius: 5px;
}

.dropdown-btn.active i {
  transform: rotate(90deg);
}

.dropdown-container {
  display: none;
  background-color: #236456;
  margin-left: 35px;
  width: 26%;
  padding-left: 11px;
  border-radius: 5px;
}

.dropdown-container a {
  display: block;
  padding: 5px 0;
  margin-top: 10px;
  color: white;
  font-family: 'hua';
  text-decoration: none;
}

.dropdown-container a img {
  margin-bottom: -5px;
  height: 23px;
}

#talenknopnl,
#talenknopen {
  background-color: #236456;
  border: 0px;
  color: white;
  font-family: 'hua';
}

/* einde sidebar */

/* begin inlog pagina */

#achtergrondInlog_register {
  padding: 10px;
}

#achtergrondInlog_register form {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

#achtergrondInlog_register input[type=text],
#achtergrondInlog_register input[type=email],
#achtergrondInlog_register input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#achtergrondInlog_register button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.avatar_container {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 110px;
  border-radius: 50%;
}

#cancelbtnBox {
  padding: 16px;
  background-color: #f1f1f1;
}

#achtergrondInlog_register span.psw {
  float: right;
  padding-top: 16px;
}

/* inlog pagina responsive */

@media screen and (max-width: 300px) {
  #achtergrondInlog_register span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* einde inlog pagina responsive */

/* begin crud_home.php */
#achtergrond_crud_home {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f5f5f5;
}

#crud_home_sidebar {
  width: 435px;
  display: flex;
  background-color: #287464;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
  border-radius: 0 16px 16px 0;
  padding-bottom: 20px;
  z-index: 1000;
  flex-direction: column;
}

#crud_home_sidebar h2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  color: white;
  font-family: 'hua';
  font-weight: 100;
}

#crud_home_sidebar p {
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
}

.crud_home_avatar_container {
  text-align: center;
  margin: -10px 0 12px 0;
}

.inlog_gegevens_box {
  height: auto;
}

#username p {
  font-size: 26px;
}

#email p {
  font-size: 22px;
  padding-top: 10px;
}

.logout_btn {
  background-color: #d42c1c;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

#sidebar_footer {
  margin-top: auto;
  text-align: center;
  padding: 30px;
}

#topbar_topbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
}

#crud_button_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

#crud_button_box a {
  text-decoration: none;
  color: inherit;
}

#crud_button_box a:hover {
  text-decoration: underline;
}

.KnoppenBox {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: auto;
  height: 20px;
  padding: 5px;
  border: 3px solid rgb(192, 192, 192);
  transition: transform 0.2s ease-in-out;
}

.KnoppenBox:hover {
  transform: scale(1.1);
}

.crud_hamburger_box {
  padding-right: 50px;
}

.crud_hamburger_menu {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
  border-radius: 0 0 15px 0;
}

#panorama_manager {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.pagina_gegevens {
  width: 100%;
  height: auto;
  border: 3px solid #7952b3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagina_gegevens a {
  text-decoration: none;
  color: inherit;
}

.pagina_gegevens img {
  width: 150px;
  height: auto;
}

.pagina_nummers,
.catalogusnummers {
  font-size: 20px;
}

.titels {
  font-size: 15px;
  width: 360px;
  text-align: center;
}

.CrudKnoppen {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #247065;
  border: 3px solid #16413b;
  color: white;

  width: 70px;
  height: 20px;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
}

.CrudKnoppen:hover {
  transform: scale(1.1);
}

.crud_dropdown_box {
  position: relative;
  display: inline-block;
}

.crud_dropdown_btn {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: auto;
  height: 40px;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.crud_dropdown_btn.active {
  background-color: #d42c1c;
  color: white;
  border-radius: 0;
}

.crud_dropdown_btn.active i {
  transform: rotate(90deg);
}

.crud_dropdown_container {
  background-color: #ffffff;
  border: 3px solid #7952b3;
  display: none;

  position: absolute;
  z-index: 999;
  left: 0;
  padding: 10px;
  height: auto;
  width: 137px;
}

.crud_dropdown_container a {
  display: block;
  padding: 5px 0;
}

#InhoudAanvullendNl h2 {
  background-color: #247065;
  color: white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* einde crud_home.php */

/* styling leporello */

.panorama-wrapper {
  /* width: 100%; */
  height: 500px;
  overflow: auto;
}

.panorama {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

.panorama img {
  flex-shrink: 0;
  display: block;
}

#zoomen {
  display: flex;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  z-index: 35;
}

.cirkel {
  display: flex;
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  background-color: #287464;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.cirkel img {
  width: 50px;
  object-fit: contain;
  display: block;
  color: white;
}

#verkleinglas {
  width: 68px;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #287464;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 10px;
}

.active {
  color: #ffffff;
}

.panorama {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow-y: scroll;
}

/* einde styling laparello */