* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'hua';
  src: url('includes/fonts/BAHNSCHRIFT 1.TTF');
  font-weight: normal;
  font-style: normal;
}

#achtergrond {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
}

h1 {
  font-size: 52px;
  font-family: 'hua';
  font-weight: 100;
  color: white;
}


#titelbox {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;

  background-color: #287464;
}

#topbar {
  display: flex;
  padding: 10px;
}

/* sidebar begin */
#mySidebar {
  position: fixed;
}

#sidebar {
  width: 435px;
  background-color: #287464;
  height: 729px;
  box-shadow: 0 0 25px rgba(0,0,0,.4);
  border-radius: 0 16px 16px 0;
  padding-bottom: 20px;
}

#sidebar_box {
  display: flex;
  flex-direction: row-reverse;
}

#sidebarbox {
  display: flex;
  align-items: center;
  padding: 25px 35px 10px 35px;
}

#imgsidebar {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-right: 20px;
}

#sidebarbox h2 {
  font-size: 36px;
  line-height: 1.1;
}

.hamburger_menu {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
  border-radius: 0px 0px 15px 0px;
}

.close_button {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
}

/* einde sidebar */

h2,
sidebar {
    display: flex;
    justify-content: flex-end;

    padding-top: 4px;

    color: white;
    font-family: 'hua';
    font-weight: 100;
}

#lightmode{
    margin-top: 40px;
}
#hotspot, #lightmode{
    font-size: 28px;
    color: white;
    font-family: 'hua';
    margin-left: 35px;
}
.dropdown-btn{
    font-size: 28px;
    color: white;
    font-family: 'hua';
    margin-left: 35px;
}

#sidebar p {
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #d42c1c;
}

input:focus+.slider {
  box-shadow: 0 0 1px #d42c1c;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}








/* Fixed sidenav, full height */
/* .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  margin-top: 15px;
  /* border-radius: 5px; */
  font-size: 28px;
  font-family: 'hua';
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #236456;
  color: white;
  border-radius: 5px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #236456;
    margin-left: 35px;
    width: 26%;
    padding-left: 11px;
    border-radius: 5px;
}

.dropdown-container a {
  display: block;
  padding: 5px 0;
  margin-top: 10px;
  color: white;
  font-family: 'hua';
  text-decoration: none;
}

#mySidebar {
  position: fixed;
  inset: 0;                 /* full-screen */
  background: rgba(0,0,0,.4);  /* donkere overlay achter de sidebar */
}
