*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'hua';
    src: url('includes/fonts/BAHNSCHRIFT 1.TTF');
    font-weight: normal;
    font-style: normal;
}

#achtergrond{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

h1{
    font-size: 52px;
    font-family: 'hua';
    font-weight: 100;
}

#titelbox{
    display: flex;
    align-items: center;

    width: 43%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;

    background-color: #287464;
}

#sidebar{
    width: 26%;
    height: 100%;
    background-color: #287464;
}