* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'hua';
    src: url('includes/fonts/BAHNSCHRIFT 1.TTF');
    font-weight: normal;
    font-style: normal;
}

#achtergrond {
    display: flex;
    width: 100%;
    min-height: 600px;
    height: auto;
}

h1 {
    font-size: 52px;
    font-family: 'hua';
    font-weight: 100;
}

#titelbox {
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;

    background-color: #287464;
}

#topbar {
    display: flex;
}

#sidebar {
    width: 500px;
    background-color: #287464;
}