* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'hua';
  src: url('includes/fonts/BAHNSCHRIFT 1.TTF');
  font-weight: normal;
  font-style: normal;
}

#achtergrond {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  font-size: 52px;
  font-family: 'hua';
  font-weight: 100;
  color: white;
}

#titelbox {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #287464;
}

.hamburger_box {
  padding-right: 350px;
}

#topbar {
  display: flex;
  padding-bottom: 50px;
}

.topbarfix {
  display: flex;
}

/* sidebar begin */
#mySidebar {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 999;
}

#sidebar {
  width: 435px;
  background-color: #287464;
  height: 729px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
  border-radius: 0 16px 16px 0;
  padding-bottom: 20px;
  z-index: 1000;
}

#sidebar_box {
  display: flex;
  flex-direction: row-reverse;
}

#sidebarbox {
  display: flex;
  align-items: center;
  padding: 25px 35px 10px 35px;
}

#imgsidebar {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-right: 20px;
}

#sidebarbox h2 {
  font-size: 36px;
  line-height: 1.1;
}

.hamburger_menu {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
  border-radius: 0 0 15px 0;
}

.close_button {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
}

h2,
sidebar {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  color: white;
  font-family: 'hua';
  font-weight: 100;
}

#lightmode {
  margin-top: 40px;
}

#hotspot,
#lightmode,
.dropdown-btn {
  font-size: 28px;
  color: white;
  font-family: 'hua';
  margin-left: 35px;
}

#sidebar p {
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
}

/* Switch (toggle) */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: #d42c1c;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #d42c1c;
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Sidenav links en dropdown */
.sidenav a,
.dropdown-btn {
  margin-top: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.sidenav a,
.dropdown-btn {
  font-size: 28px;
  font-family: 'hua';
  color: white;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #236456;
  color: white;
  border-radius: 5px;
}

.dropdown-container {
  display: none;
  background-color: #236456;
  margin-left: 35px;
  width: 26%;
  padding-left: 11px;
  border-radius: 5px;
}

.dropdown-container a {
  display: block;
  padding: 5px 0;
  margin-top: 10px;
  color: white;
  font-family: 'hua';
  text-decoration: none;
}

/* einde sidebar */

/* begin inlog pagina */

#achtergrondInlog_register {
  padding: 10px;
}

#achtergrondInlog_register form {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

#achtergrondInlog_register input[type=text],
#achtergrondInlog_register input[type=email],
#achtergrondInlog_register input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#achtergrondInlog_register button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.avatar_container {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 110px;
  border-radius: 50%;
}

#cancelbtnBox {
  padding: 16px;
  background-color: #f1f1f1;
}

#achtergrondInlog_register span.psw {
  float: right;
  padding-top: 16px;
}

/* inlog pagina responsive */
@media screen and (max-width: 300px) {
  #achtergrondInlog_register span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* einde inlog pagina responsive */

/* begin crud_home.php */
#achtergrond_crud_home {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #626a69;
}

#crud_home_sidebar {
  width: 435px;
  display: flex;
  background-color: #287464;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
  border-radius: 0 16px 16px 0;
  padding-bottom: 20px;
  z-index: 1000;
  flex-direction: column;
}

#crud_home_sidebar h2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  color: white;
  font-family: 'hua';
  font-weight: 100;
}

#crud_home_sidebar p {
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
}

.crud_home_avatar_container {
  text-align: center;
  margin: -10px 0 12px 0;
}

.inlog_gegevens_box {
  height: auto;
}

#username p {
  font-size: 26px;
}

#email p {
  font-size: 22px;
  padding-top: 10px;
}

.logout_btn {
  background-color: #d42c1c;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

#sidebar_footer {
  margin-top: auto;
  text-align: center;
  padding: 30px;
}

/* einde crud_home.php */

/* styling leporello */
.panorama {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow-y: scroll;
}

/* einde styling laparello */