* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'hua';
  src: url('includes/fonts/BAHNSCHRIFT 1.TTF');
  font-weight: normal;
  font-style: normal;
}

#achtergrond {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
}

h1 {
  font-size: 52px;
  font-family: 'hua';
  font-weight: 100;
  color: white;
}


#titelbox {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;

  background-color: #287464;
}

#topbar {
  display: flex;
  padding: 10px;
}

/* sidebar begin */
#mySidebar {
  position: fixed;
}

#sidebar {
  width: 435px;
  background-color: #287464;
  height: 729px;
}

#sidebar_box {
  display: flex;
  flex-direction: row-reverse;
}

#imgsidebar {
  width: 26%;
  height: 100%;
  padding-left: 35px;
}

.hamburger_menu {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
  border-radius: 0px 0px 15px 0px;
}

.close_button {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
}

/* einde sidebar */

h2,
sidebar {
  display: flex;
  justify-content: flex-end;

  padding: 35px;

  font-size: 40px;
  color: white;
  font-family: 'hua';
  font-weight: 100;
}

p,
sidebar {
  display: flex;
  justify-content: center;
  color: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #d42c1c;
}

input:focus+.slider {
  box-shadow: 0 0 1px #d42c1c;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}