* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'hua';
  src: url('includes/fonts/BAHNSCHRIFT 1.TTF');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

#achtergrond {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  font-size: 52px;
  font-family: 'hua';
  font-weight: 100;
  color: white;
  font-size: 3.25rem;
}

#titelbox {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #287464;
  flex: 1;
  text-align: center;
  margin-right: 80px;
  justify-content: center;
}

@media screen and (max-width: 1230px) {
  #titelbox {
    max-width: 100%;
    width: 500px;
  }

  #h1 {
    font-size: 2.25rem;
  }

  #sidebar {
    max-width: 39%;
    max-height: 100%;
  }

  #zoomen {
    display: flex;
    align-items: center;
  }

  .cirkel {
    height: 50px;
    width: 50px;
  }
}

.hamburger_box {
  width: 80px;
  display: flex;
  justify-content: flex-start;
}

#topbar {
  display: flex;
  position: fixed;
  align-items: center;

  padding-bottom: 50px;
  top: 0;
  left: 0;
  width: 100%;
}

.topbarfix {
  display: flex;
}

/* sidebar begin */
#mySidebar {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 999;
}

#sidebar {
  width: 435px;
  background-color: #287464;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
  border-radius: 0 16px 16px 0;
  padding-bottom: 20px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebar p {
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
}

#sidebar_box {
  display: flex;
  flex-direction: row-reverse;
}

#sidebarbox {
  display: flex;
  align-items: center;
  padding: 25px 35px 10px 35px;
}

#imgsidebar {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-right: 20px;
}

#sidebarbox h2 {
  font-size: 36px;
  line-height: 1.1;
}

.hamburger_menu {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
  border-radius: 0 0 15px 0;
  margin-top: -25px;

}

.close_button {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
}

h2,
sidebar {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  color: white;
  font-family: 'hua';
  font-weight: 100;
}

#lightmode {
  margin-top: 40px;
}

#hotspot,
#lightmode,
.dropdown-btn {
  font-size: 28px;
  color: white;
  font-family: 'hua';
  margin-left: 35px;
}

#lightmode #lichtmodus,
#lightmode #donkeremodus {
  display: none;
}

#lightmode #lichtmodus.show,
#lightmode #donkeremodus.show {
  display: inline-block;
}



#hotspot {
  margin-bottom: 20px;
}

#sidebar p {
  margin-top: auto;
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
  align-items: baseline;
  margin-bottom: 20px;
}

.dark-mode {
  background-color: rgb(69, 69, 69);
  color: rgb(255, 255, 255);
}

/* Switch (toggle) */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: #d42c1c;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #d42c1c;
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Sidenav links en dropdown */
.sidenav a,
.dropdown-btn {
  /* margin-top: 15px; */
  border: none;
  background: none;
  cursor: pointer;
}

.sidenav a,
.dropdown-btn {
  font-size: 28px;
  font-family: 'hua';
  color: white;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: #236456;
  color: white;
  border-radius: 5px;
}

.dropdown-btn.active i {
  transform: rotate(90deg);
}

.dropdown-container {
  display: none;
  background-color: #236456;
  margin-left: 35px;
  width: 26%;
  padding-left: 11px;
  border-radius: 5px;
}

.dropdown-container a {
  display: block;
  padding: 5px 0;
  margin-top: 10px;
  color: white;
  font-family: 'hua';
  text-decoration: none;
}

.dropdown-container a img {
  margin-bottom: -5px;
  height: 23px;
}

#talenknopnl,
#talenknopen {
  background-color: #236456;
  border: 0px;
  color: white;
  font-family: 'hua';
}

/* einde sidebar */

/* begin inlog pagina */

#achtergrondInlog_register {
  padding: 10px;
}

#achtergrondInlog_register form {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

#achtergrondInlog_register input[type=text],
#achtergrondInlog_register input[type=email],
#achtergrondInlog_register input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#achtergrondInlog_register button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.avatar_container {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 110px;
  border-radius: 50%;
}

#cancelbtnBox {
  padding: 16px;
  background-color: #f1f1f1;
}

#achtergrondInlog_register span.psw {
  float: right;
  padding-top: 16px;
}

/* inlog pagina responsive */

@media screen and (max-width: 300px) {
  #achtergrondInlog_register span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* einde inlog pagina responsive */

/* begin crud_home.php */
#achtergrond_crud_home {
  display: flex;
  width: 100%;
  min-height: 600px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f5f5f5;
}

#crud_home_sidebar {
  width: 435px;
  display: flex;
  background-color: #287464;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
  border-radius: 0 16px 16px 0;
  padding-bottom: 20px;
  z-index: 1000;
  flex-direction: column;
}

#crud_home_sidebar h2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  color: white;
  font-family: 'hua';
  font-weight: 100;
}

#crud_home_sidebar p {
  text-align: center;
  font-size: 16px;
  font-family: 'hua';
  color: white;
}

.crud_home_avatar_container {
  text-align: center;
  margin: -10px 0 12px 0;
}

.inlog_gegevens_box {
  height: auto;
}

#username p {
  font-size: 26px;
}

#email p {
  font-size: 22px;
  padding-top: 10px;
}

.logout_btn {
  background-color: #d42c1c;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

#sidebar_footer {
  margin-top: auto;
  text-align: center;
  padding: 30px;
}

#topbar_topbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
}

#crud_button_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

#crud_button_box a {
  text-decoration: none;
  color: inherit;
}

.KnoppenBox {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: auto;
  height: 20px;
  padding: 5px;
  border: 3px solid rgb(192, 192, 192);
  transition: transform 0.2s ease-in-out;
}

.crud_hamburger_box {
  padding-right: 50px;
}

.crud_hamburger_menu {
  width: 55px;
  height: 55px;
  font-size: 35px;
  border: none;
  background-color: #287464;
  color: white;
  border-radius: 0 0 15px 0;
}

/* einde crud_home.php */

/* styling leporello */

.panorama-wrapper {
  position: relative;
  height: calc(100vh - 150px);
  overflow-x: auto;
  overflow-y: auto;
  max-height: 560px;
  margin-top: 100px;
}

.panorama {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin: 0 0;
}

.panorama img {
  flex-shrink: 0;
  display: block;
}

#zoomen {
  display: flex;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 20;
  /* boven de foto */
}


.cirkel {
  display: flex;
  height: 57px;
  width: 57px;
  background-color: #bbb;
  border-radius: 50%;
  background-color: #287464;
  justify-content: center;
  align-items: center;
  border: none;
}

.cirkel img {
  width: 40px;
  object-fit: contain;
  display: block;
  color: white;
}


#verkleinglas {
  width: 53px;
}

#resetknoppanorama {
  font-size: 40px;
  color: white;
}

/* Alleen voor grote schermen (digibord / 1920x1080 en groter) */
@media screen and (min-width: 1600px) {
  .panorama-wrapper {
    margin: 250px auto 0;
    width: 100vw;
    height: calc(100vh - 500px);
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #zoomen {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 20;
  }

  .cirkel {
    display: flex;
    height: 130px;
    width: 130px;
    background-color: #bbb;
    border-radius: 50%;
    background-color: #287464;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .cirkel img {
    width: 90px;
    object-fit: contain;
    display: block;
    color: white;
  }

  #verkleinglas {
    width: 120px;
  }

  #resetknoppanorama {
    font-size: 93px;
    color: white;
  }

  #titelbox {
    display: flex;
    align-items: center;
    width: auto;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #287464;
    flex: 1;
    text-align: center;
    margin-right: 80px;
    justify-content: center;
  }

  h1 {
    font-size: 52px;
    font-family: 'hua';
    font-weight: 100;
    color: white;
    font-size: 4.25rem;
  }

  .hamburger_menu {
    width: 60px;
    height: 70px;
    font-size: 41px;
    border: none;
    background-color: #287464;
    color: white;
    border-radius: 0 0 15px 0;
    margin-top: -45px;
  }

  #imgsidebar {
    width: 100px;
    height: 100px;
    padding: 0;
    margin-right: 20px;
  }

  #sidebarbox h2 {
    font-size: 45px;
    line-height: 1.1;
  }

  #hotspot,
  #lightmode,
  .dropdown-btn {
    font-size: 36px;
    color: white;
    font-family: 'hua';
    margin-left: 35px;
  }

  .sidenav a,
  .dropdown-btn {
    font-size: 37px;
    font-family: 'hua';
    color: white;
  }

  #talenknopnl,
  #talenknopen {
    background-color: #236456;
    border: 0px;
    color: white;
    font-family: 'hua';
    font-size: 25px;
  }

  .dropdown-container a {
    display: block;
    padding: 5px 0;
    margin-top: 10px;
    color: white;
    font-family: 'hua';
    text-decoration: none;
    font-size: 27px;
  }

  #sidebar p {
    margin-top: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'hua';
    color: white;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .close_button {
    width: 55px;
    height: 55px;
    font-size: 55px;
    border: none;
    background-color: #287464;
    color: white;
  }

  #verkleinglas {
    width: 115px;
  }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #287464;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 10px;
}

.active {

  color: #ffffff;
}

/* #panoramaknoppen{
  display: flex;
  position: fixed;
}  */

html,
body {
  overflow-y: hidden;
  /* verticale scrollbar weg */
  overflow-x: auto;
  /* horizontale beweging toegestaan */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome / Edge / Safari */
}





.toolbar {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.toolbar label {
  opacity: .9;
  font-size: 14px;
}

.btn {
  background: var(--panel);
  border: 1px solid var(--muted);
  padding: 8px 12px;
  color: var(--text);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  border-color: var(--accent);
}

.viewer {
  position: relative;
  height: calc(100vh - 62px);
  overflow: hidden;
  background: #0e141c;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* Main image surface */
.surface {
  position: absolute;
  inset: 0;
  overflow: hidden;
  cursor: grab;
  touch-action: none;
  /* allow custom pan/zoom */
}

.surface.dragging {
  cursor: grabbing;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  /* top-left for easy math */
  will-change: transform;
  image-rendering: auto;
}

/* Minimap */
.minimap-wrap {
  position: absolute;
  right: 14px;
  bottom: 14px;
  background: rgba(18, 24, 33, 0.9);
  border: 1px solid var(--muted);
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .35);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.minimap-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  opacity: .85;
}

#minimap {
  display: block;
  width: 220px;
  /* CSS pixels */
  height: 150px;
  /* CSS pixels */
  border-radius: 8px;
  background: #0a0f16;
  outline: 1px solid rgba(255, 255, 255, 0.08);
  cursor: crosshair;
  user-select: none;
  touch-action: none;
}

.hint {
  font-size: 12px;
  opacity: .75;
}

.badge {
  padding: 2px 6px;
  border: 1px solid var(--muted);
  border-radius: 999px;
  font-size: 11px;
  opacity: .9;
}



.panorama {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow-y: scroll;
}

/* einde styling laparello */